div{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 25px;
    border-radius: 20px;
    background-image: linear-gradient(202.17deg, #FF00D6 8.58%, #FF4D00 91.42%);
    background-size: 100% auto;
    border: none;
    color: white;
    display: block;
}

.alinearIcono{
    position: relative;
    top: -5px;
    margin-left: 5px; /* optional */
}