<mat-toolbar class="toolbarNav" id="TopNavBar">
    <mat-toolbar-row>
        <span class="example-spacer"></span>
        <div class="botones botonPagina">
            <mat-icon class="material-icons color_blue"> home_outline</mat-icon>
            <span class="alinearIcono">Discover</span>
        </div>
        <div class="botones">
            <mat-icon class="material-icons color_blue">search </mat-icon>
            <span class="alinearIcono">Search</span>
        </div>
        <div class="botones">
            <mat-icon class="material-icons color_blue">add </mat-icon>
            <span class="alinearIcono">Upload picture</span>
        </div>
        <div class="botones">
            <mat-icon class="material-icons color_blue">chat_bubble_outline</mat-icon>
            <span class="alinearIcono">Chat</span>
        </div>
        
        <!-- BOTON ORIGINAL

        <div class="botones">
            <mat-icon class="material-icons color_blue">person_outline</mat-icon>
            <span class="alinearIcono">Profile</span>
        </div>  -->
       
        <app-navbar-profile-button></app-navbar-profile-button>
    </mat-toolbar-row>
  </mat-toolbar>