:host {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 64px;
}

.code {
    font-weight: 600;
    font-size: 5rem;
}
p {
    margin: 2rem;
}

a {
    margin-top: 4rem;
    color: #5e00ea;
}