<mat-toolbar class="toolbarNav" id="BottomNavBar">
    <a routerLink="/"><mat-icon class="material-icons color_blue"> home_outline</mat-icon></a>
    <!-- <i class="bi bi-house-door"></i> -->
    <a routerLink="/search"> <mat-icon class="material-icons color_blue">search </mat-icon></a>
    <app-insta-button routerLink="/post"></app-insta-button>
    <a routerLink="/chats"> <mat-icon class="material-icons color_blue" >chat_bubble_outline </mat-icon></a>
    <a routerLink="/profile"><mat-icon class="material-icons color_blue" >person_outline</mat-icon></a>
  </mat-toolbar>